$left-menu-button-line-height:4;
$left-menu-button-width:48;
$left-menu-button-height: $left-menu-button-width*2/3;
$left-menu-button-line-color:$white;
.left-menu-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0;
    width: $left-menu-button-width + px;
    height: $left-menu-button-height + px;
    @include transform(translate(0, -50%));
    .middle-line,
    .top-line,
    .bottom-line {
        @include transition(all 0.4s ease 0s);
        position: absolute;
        height: $left-menu-button-line-height + px;
        background-color: $left-menu-button-line-color;
    }
    .middle-line {
        top: calc(50% - 2px);
        left: 0;
        right: 25%;
    }
    .top-line,
    .bottom-line {
        right: 0;
        left: 25%;
    }
    .top-line {
        top: 0;
    }
    .bottom-line {
        bottom: 0;
    }
}


/*.left-menu-button:hover {
    .middle-line {
        right: 0;
        left: 25%;
    }
}*/

.left-menu-button:hover,
[data-left-menu-is-active="true"].left-menu-button {
    .middle-line {
        left: 25%;
        right: 0%;
    }
    .top-line,
    .bottom-line {
        right: 25%;
        left: 0;
    }
}