    $left-menu-button-line-height:4;
    $left-menu-button-line-height-xlarge:6;
    $left-menu-button-width:58;
    $left-menu-button-width-xlarge:$left-menu-button-width*1.33;
    $left-menu-button-animation-duration: 0.4s;
    $left-menu-button-animation-timing-function:cubic-bezier(.2, 0, .7, 1);
    /*
     * STYLES
     */
    
    [data-is-left-menu-active="false"] .left-menu-button,
    [data-is-left-menu-active="true"] .left-menu-button,
    .left-menu-button {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 0;
        width: $left-menu-button-width-xlarge + px;
        height: $left-menu-button-width-xlarge + px;
        @include device-large() {
            width: $left-menu-button-width + px;
            height: $left-menu-button-width + px;
        }
        @include transform(translate(0, -50%));
        .top-line,
        .bottom-line {
            position: absolute;
            height: $left-menu-button-line-height-xlarge + px;
            @include device-large() {
                height: $left-menu-button-line-height + px;
            }
            @include transform-origin(50%, 50%);
            right: 15%;
            left: 15%;
        }
        .top-line {
            top: calc(50% - #{$left-menu-button-line-height-xlarge/2}px);
            @include device-large() {
                top: calc(50% - #{$left-menu-button-line-height/2}px);
            }
            @include transition(top 0.4s $left-menu-button-animation-timing-function 0s);
        }
        .bottom-line {
            bottom: calc(50% - #{$left-menu-button-line-height-xlarge/2}px);
            @include device-large() {
                bottom: calc(50% - #{$left-menu-button-line-height/2}px);
            }
            @include transition(bottom 0.4s $left-menu-button-animation-timing-function 0s);
        }
    }
    
    [data-is-left-menu-active="false"] .left-menu-button {
        .top-line {
            top: 27%;
            @include transition(transform 0.2s $left-menu-button-animation-timing-function 0s, top 0.2s $left-menu-button-animation-timing-function 0.4s);
        }
        .bottom-line {
            bottom: 27%;
            @include transition(transform 0.2s $left-menu-button-animation-timing-function 0s, bottom 0.2s $left-menu-button-animation-timing-function 0.4s);
        }
    }
    
    [data-is-left-menu-active="true"] .left-menu-button {
        .top-line {
            top: calc(50% - #{$left-menu-button-line-height-xlarge/2}px);
            @include device-large() {
                top: calc(50% - #{$left-menu-button-line-height/2}px);
            }
            @include transform(rotate(-40deg));
            @include transition(top 0.2s $left-menu-button-animation-timing-function 0s, transform 0.2s $left-menu-button-animation-timing-function 0.4s);
        }
        .bottom-line {
            bottom: calc(50% - #{$left-menu-button-line-height-xlarge/2}px);
            @include device-large() {
                bottom: calc(50% - #{$left-menu-button-line-height/2}px);
            }
            @include transform(rotate(40deg));
            @include transition(bottom 0.2s $left-menu-button-animation-timing-function 0s, transform 0.2s $left-menu-button-animation-timing-function 0.4s);
            /*@include animation-name(menuBottomLineAnimation_Active);
            @include animation-duration($left-menu-button-animation-duration);
            @include animation-timing-function($left-menu-button-animation-timing-function);
            @include animation-iteration-count(1);
            @include animation-fill-mode(forwards);*/
        }
    }
    
    .mastframe-left-panel[data-text-color="white"] .left-menu-button {
        .top-line,
        .bottom-line {
            background-color: $white;
        }
    }
    
    .mastframe-left-panel[data-text-color="dark-grey"] .left-menu-button {
        .top-line,
        .bottom-line {
            background-color: $dark-grey;
        }
    }