.mastframe-left-panel {
    position: absolute;
    top: $mastframe-top;
    bottom: $mastframe-bottom;
    left: $mastframe-left;
    width: 64px;
}

@import "site-title";
@import "socials-button";
@import "site-logo";
@import "left-menu-button";