/*
 * VARIABLES
 */

$mastframe-frame-color:transparent;
$mastframe-border-width:1px;
$mastframe-top:48px;
$mastframe-right:56px;
$mastframe-bottom:48px;
$mastframe-left:56px;

/*
 * STYLE
 */

@include keyframes(resizebgimage) {
    0% {
        background-size: auto 100%;
    }
    100% {
        background-size: auto 107%;
    }
}

.mastframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    @if $mastframe-frame-color !=transparent {
        background-color: $mastframe-frame-color;
    }
    background-image: url('https://frasaleksander.github.io/images/front/aleksanderfras-2.jpg');
    background-position:top center;
    background-repeat: no-repeat;
    background-size:auto 100%;
    @include filter(grayscale(0.3));
    @include animation-name(resizebgimage);
    @include animation-duration(7s);
    @include animation-timing-function(ease);
    @include animation-iteration-count(1);
    @include animation-fill-mode(forwards);
    @include transition(all 0.4s ease 0s);
}

body[data-left-menu-is-active="true"] .mastframe {
    top: 4vh;
    bottom: 4vh;
    left: 25vw;
    right: -25vw;
}

@import "mastframe-left-panel";