/*
 * VARIABLES
 */

$mastframe-frame-color:transparent;
$mastframe-border-width:1px;
$mastframe-top:48px;
$mastframe-right:56px;
$mastframe-bottom:48px;
$mastframe-left:56px;

/*
 * STYLE
 */

@include keyframes(resizebgimage) {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 115%;
    }
}

.mastframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    @if $mastframe-frame-color !=transparent {
        background-color: $mastframe-frame-color;
    }
    background-image: url('http://frasaleksander.github.io/images/front/aleksanderfras-2.jpg');
    background-position:center center;
    background-repeat: no-repeat;
    background-size:100%;
    -webkit-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    background-size:110%;
    @include animation-name(resizebgimage);
    @include animation-duration(6s);
    @include animation-iteration-count(1);
    @include animation-fill-mode(forwards);
}

@import "mastframe-left-panel";