/*
 * VARIABLES
 */

$mastframe-frame-color:#fff;
$mastframe-border-width:1px;
$mastframe-top:48px;
$mastframe-right:56px;
$mastframe-bottom:48px;
$mastframe-left:56px;

/*
 *
 */

@import "site-title";
@import "socials-button";

/*
 * STYLE
 */

.mastframe {
    position: absolute;
    top: $mastframe-top;
    right: $mastframe-right;
    bottom: $mastframe-bottom;
    left: $mastframe-left;
}

.mastframe-inner {
    position: relative;
    width: 100%;
    height: 100%;
}