$site-logo-font-size:64px;
$site-logo-font-size-xlarge:$site-logo-font-size*1.33;
.site-logo {
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    font-size: $site-logo-font-size-xlarge;
    @include device-large() {
        font-size: $site-logo-font-size;
    }
}

.mastframe-left-panel[data-text-color="white"] .site-logo {
    color: $white;
}

.mastframe-left-panel[data-text-color="dark-grey"] .site-logo {
    color: $dark-grey;
}