/* 
 *
 */

.socials-button {
    @include inline-block();
    position: absolute;
    bottom: 0;
    left: 0;
    @include transform-origin(0, 50%);
    @include transform(rotate(-90deg));
    color: #fff;
    font-size: 20px;
    left: 24px;
    &:after {
        position: absolute;
        content: "find me on social networks";
        @include inline-block();
        @include transform(rotate(90deg) translate(50%, 18%) scale(0));
        @include opacity(0);
        @include transition(all 0.3s ease 0s);
    }
}

.socials-button:hover {
    &:after {
        @include opacity(1);
        @include transform(rotate(90deg) translate(50%, 18%) scale(1));
    }
}