[data-is-left-menu-active="false"] .about-right-panel,
[data-is-left-menu-active="true"] .about-right-panel,
.about-right-panel {
    position: absolute;
    @include transform(translate(0, -50%));
    overflow: hidden;
    top: 50%;
    height: 0;
    width: 50%;
    left: 0;
    @include opacity(0.7);
    &:before,
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        @include filter(grayscale(100%));
        background-image: url('https://frasaleksander.github.io/images/front/aleksanderfras-2.jpg');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    &:after {
        //background-color: rgba(255, 50, 25, 0.55);
        //background-color: rgba(47, 190, 100, 0.6);
        //background-color: rgba(255, 157, 1, 0.6);
        //background-color: rgba(247, 225, 53, 0.35);
        background-color: rgba(3, 169, 244, 0.32);
    }
}

[data-is-left-menu-active="false"] .about-right-panel {
    height: 75%;
    left: 50%;
    @include opacity(0.95);
    @include transition(height 0.7s ease 0s,
    left 0.4s ease 0.4s,
    opacity 0.4s ease 0.4s);
}

[data-is-left-menu-active="true"] .about-right-panel {
    height: 100%;
    left: 0;
    width: 100%;
    @include opacity(1);
    @include transition(left 0.3s ease 0s,
    height 0.3s ease 0.4s,
    width 0.3s ease 0.4s,
    opacity 0.3s ease 0.4s);
}