#mastnav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#mastnav .main-navigation {
    @include inline-block();
    counter-reset: nav-index;
    position: absolute;
    top: 5vh;
    width: 25vw;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 5vh;
    list-style: none;
    li {
        counter-increment: nav-index;
        position: relative;
        height: 3.5rem;
    }
    a {
        color: $nav-link-color;
        font-size: 28px;
        line-height: 1;
        letter-spacing: 10px;
        position: absolute;
        top: calc(50% - 14px);
        &:before {
            content: counter(nav-index, upper-roman) ".";
            letter-spacing: 0;
            font-size: 13px;
            padding-bottom: 3px;
            @include inline-block();
            vertical-align: bottom;
            width: 48px;
        }
        span {
            position: relative;
            @include inline-block();
        }
    }
}

#mastnav .author-menu-footer-stuff {
    position: absolute;
    @include inline-block();
    bottom: 5vh;
    padding-left: 5vh;
    left: 0;
    font-size: 13px;
    span {
        @include inline-block();
    }
}


/*
 * ANIMATION
 */

[data-text]:hover {
    &:before {}
}