#mastnav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#mastnav .main-navigation {
    @include inline-block();
    counter-reset: nav-index;
    position: absolute;
    top: 5vh;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 5vh;
    list-style: none;
    li {
        counter-increment: nav-index;
        position: relative;
        height: 3.5rem;
    }
    a {
        color: $nav-link-color;
        font-size: 28px;
        line-height: 1;
        letter-spacing: 10px;
        position: absolute;
        top: calc(50% - 14px);
        &:before {
            content: counter(nav-index, upper-roman) ".";
            letter-spacing: 0;
            font-size: 13px;
            padding-bottom: 3px;
            @include inline-block();
            vertical-align: bottom;
            width: 50px;
        }
        span {
            position: relative;
            @include inline-block();
        }
    }
}

[data-is-left-menu-active="false"] #mastnav .main-navigation {
    @for $i from 1 through 4 {
        li {
            @include opacity(0);
            @include transition(opacity 0.5s ease 0s);
        }
        li:nth-child(#{$i}) {
            @include transition-delay(#{(5-$i)*0.15}s);
            a:before {
                width: 150px;
                @include transition(width 0.4s ease 0s);
                @include transition-delay(#{(5-$i)*0.20}s);
            }
        }
    }
}

[data-is-left-menu-active="true"] #mastnav .main-navigation {
    @for $i from 4 through 1 {
        li {
            @include opacity(1);
            @include transition(opacity 0.5s ease 0.2s);
        }
        li:nth-child(#{$i}) {
            @include transition-delay(#{$i*0.15}s);
            a:before {
                width: 50px;
                @include transition(width 0.5s ease 0s);
                @include transition-delay(#{($i)*0.15}s);
            }
        }
    }
}


/*
 * author-menu-footer-stuff
 */

#mastnav .author-menu-footer-stuff {
    position: absolute;
    @include inline-block();
    bottom: 5vh;
    padding-left: 5vh;
    left: 0;
    font-size: 13px;
    span {
        @include inline-block();
    }
}


/*
 * ANIMATION
 */

[data-text]:hover {
    &:before {}
}