/*
 * Navigation
 */
/* line 1, ../scss/base/_base.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../scss/base/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../scss/base/_base.scss */
body,
html {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 22, ../scss/base/_base.scss */
body {
  font-size: 100%;
  font-family: Lato, sans-serif;
  color: #231f20;
  background-color: #f5f5f5;
  line-height: 1;
  font-weight: normal;
  overflow: hidden;
}

/* line 34, ../scss/base/_base.scss */
a,
a:link,
a:active,
a:focus,
a:visited {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

/* line 1, ../scss/navigation/_mastnav.scss */
#mastnav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 9, ../scss/navigation/_mastnav.scss */
#mastnav .main-navigation {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  counter-reset: nav-index;
  position: absolute;
  top: 5vh;
  width: 25vw;
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 5vh;
  list-style: none;
}
/* line 20, ../scss/navigation/_mastnav.scss */
#mastnav .main-navigation li {
  counter-increment: nav-index;
  position: relative;
  height: 3.5rem;
}
/* line 25, ../scss/navigation/_mastnav.scss */
#mastnav .main-navigation a {
  color: #231f20;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 10px;
  position: absolute;
  top: calc(50% - 14px);
}
/* line 33, ../scss/navigation/_mastnav.scss */
#mastnav .main-navigation a:before {
  content: counter(nav-index,upper-roman) ".";
  letter-spacing: 0;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 48px;
}

/*
 * VARIABLES
 */
/*
 * STYLE
 */
@-webkit-keyframes resizebgimage {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 107%;
  }
}
@-moz-keyframes resizebgimage {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 107%;
  }
}
@-ms-keyframes resizebgimage {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 107%;
  }
}
@-o-keyframes resizebgimage {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 107%;
  }
}
@keyframes resizebgimage {
  0% {
    background-size: auto 100%;
  }
  100% {
    background-size: auto 107%;
  }
}
/* line 25, ../scss/sections/mastframe/_mastframe.scss */
.mastframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url("https://frasaleksander.github.io/images/front/aleksanderfras-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-animation-name: resizebgimage;
  -webkit-animation-name: resizebgimage;
  animation-name: resizebgimage;
  -moz-animation-duration: 14s;
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -moz-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease 0s;
}

/* line 49, ../scss/sections/mastframe/_mastframe.scss */
body[data-left-menu-is-active="true"] .mastframe {
  top: 5vh;
  bottom: -5vh;
  left: 25vw;
  right: -25vw;
}

/* line 1, ../scss/sections/mastframe/_mastframe-left-panel.scss */
.mastframe-left-panel {
  position: absolute;
  top: 4vh;
  bottom: 4vh;
  left: 3.5vw;
  width: 58px;
}

/* line 1, ../scss/sections/mastframe/_site-title.scss */
.site-title {
  font-style: italic;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
}
/* line 7, ../scss/sections/mastframe/_site-title.scss */
.site-title span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  font-size: 64px;
  max-width: 0;
  -moz-transition: max-width 0.6s ease 0s;
  -o-transition: max-width 0.6s ease 0s;
  -webkit-transition: max-width 0.6s ease;
  -webkit-transition-delay: 0s;
  transition: max-width 0.6s ease 0s;
}
/* line 13, ../scss/sections/mastframe/_site-title.scss */
.site-title span.initial {
  max-width: none;
}
/* line 16, ../scss/sections/mastframe/_site-title.scss */
.site-title span.whitespace {
  margin-left: 0.3rem;
}
/* line 20, ../scss/sections/mastframe/_site-title.scss */
.site-title span:not(.initial) {
  background-color: #fff;
  color: #231f20;
}
/* line 25, ../scss/sections/mastframe/_site-title.scss */
.site-title:hover span {
  width: auto;
  max-width: 3rem;
  -moz-transition: max-width 1.2s ease 0s;
  -o-transition: max-width 1.2s ease 0s;
  -webkit-transition: max-width 1.2s ease;
  -webkit-transition-delay: 0s;
  transition: max-width 1.2s ease 0s;
}

/* 
 *
 */
/* line 5, ../scss/sections/mastframe/_socials-button.scss */
.socials-button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  bottom: 0;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 20px;
  left: 27px;
}
/* line 13, ../scss/sections/mastframe/_socials-button.scss */
.socials-button:after {
  position: absolute;
  content: "find me on social networks";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transform: rotate(90deg) translate(40%, 18%) scale(0);
  -ms-transform: rotate(90deg) translate(40%, 18%) scale(0);
  -webkit-transform: rotate(90deg) translate(40%, 18%) scale(0);
  transform: rotate(90deg) translate(40%, 18%) scale(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease 0s;
}

/* line 24, ../scss/sections/mastframe/_socials-button.scss */
.socials-button:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: rotate(90deg) translate(40%, 18%) scale(1);
  -ms-transform: rotate(90deg) translate(40%, 18%) scale(1);
  -webkit-transform: rotate(90deg) translate(40%, 18%) scale(1);
  transform: rotate(90deg) translate(40%, 18%) scale(1);
}

/* line 30, ../scss/sections/mastframe/_socials-button.scss */
.mastframe-left-panel[data-text-color="white"] .socials-button {
  color: #f5f5f5;
}

/* line 1, ../scss/sections/mastframe/_site-logo.scss */
.site-logo {
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 64px;
}

/* line 9, ../scss/sections/mastframe/_site-logo.scss */
.mastframe-left-panel[data-text-color="white"] .site-logo {
  color: #f5f5f5;
}

/*
 * ANIMATIONS
 */
@-webkit-keyframes menuTopLineAnimation_Active {
  0% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: calc(50% - 2px);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}
@-moz-keyframes menuTopLineAnimation_Active {
  0% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: calc(50% - 2px);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}
@-ms-keyframes menuTopLineAnimation_Active {
  0% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: calc(50% - 2px);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}
@-o-keyframes menuTopLineAnimation_Active {
  0% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: calc(50% - 2px);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}
@keyframes menuTopLineAnimation_Active {
  0% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: calc(50% - 2px);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}
@-webkit-keyframes menuBottomLineAnimation_Active {
  0% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@-moz-keyframes menuBottomLineAnimation_Active {
  0% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@-ms-keyframes menuBottomLineAnimation_Active {
  0% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@-o-keyframes menuBottomLineAnimation_Active {
  0% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@keyframes menuBottomLineAnimation_Active {
  0% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}
@-webkit-keyframes menuTopLineAnimation_NonActive {
  0% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes menuTopLineAnimation_NonActive {
  0% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes menuTopLineAnimation_NonActive {
  0% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes menuTopLineAnimation_NonActive {
  0% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes menuTopLineAnimation_NonActive {
  0% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    top: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes menuBottomLineAnimation_NonActive {
  0% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes menuBottomLineAnimation_NonActive {
  0% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes menuBottomLineAnimation_NonActive {
  0% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes menuBottomLineAnimation_NonActive {
  0% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes menuBottomLineAnimation_NonActive {
  0% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    bottom: calc(50% - 2px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/*
 * STYLES
 */
/* line 73, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  width: 58px;
  height: 23.2px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 81, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button .middle-line,
.left-menu-button .top-line,
.left-menu-button .bottom-line {
  position: absolute;
  height: 4px;
  background-color: #f5f5f5;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 90, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button .middle-line {
  top: calc(50% - 2px);
  left: 0;
  right: 100%;
}
/* line 95, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button .top-line,
.left-menu-button .bottom-line {
  right: 15%;
  left: 15%;
}
/* line 100, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button .top-line {
  top: 0;
  -moz-animation-name: menuTopLineAnimation_NonActive;
  -webkit-animation-name: menuTopLineAnimation_NonActive;
  animation-name: menuTopLineAnimation_NonActive;
  -moz-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 108, ../scss/sections/mastframe/_left-menu-button.scss */
.left-menu-button .bottom-line {
  bottom: 0;
  -moz-animation-name: menuBottomLineAnimation_NonActive;
  -webkit-animation-name: menuBottomLineAnimation_NonActive;
  animation-name: menuBottomLineAnimation_NonActive;
  -moz-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

    /*.left-menu-button:hover {
    .middle-line {
        right: 0;
        left: 25%;
    }
}*/
    /* .left-menu-button:hover {

        .top-line {
            @include transform(rotate(-30.5deg));
        }
        .bottom-line {
            @include transform(rotate(30.5deg));
        }
        .top-line,
        .bottom-line {
            right: 30%;
            left: 0;
        }
    } */
/* line 139, ../scss/sections/mastframe/_left-menu-button.scss */
[data-left-menu-is-active="true"].left-menu-button .top-line,
[data-left-menu-is-active="true"].left-menu-button .bottom-line {
  left: 15%;
  right: 15%;
}
/* line 144, ../scss/sections/mastframe/_left-menu-button.scss */
[data-left-menu-is-active="true"].left-menu-button .top-line {
  -moz-animation-name: menuTopLineAnimation_Active;
  -webkit-animation-name: menuTopLineAnimation_Active;
  animation-name: menuTopLineAnimation_Active;
  -moz-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 151, ../scss/sections/mastframe/_left-menu-button.scss */
[data-left-menu-is-active="true"].left-menu-button .bottom-line {
  -moz-animation-name: menuBottomLineAnimation_Active;
  -webkit-animation-name: menuBottomLineAnimation_Active;
  animation-name: menuBottomLineAnimation_Active;
  -moz-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  animation-timing-function: cubic-bezier(0.2, 0, 0.7, 1);
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=style.css.map */
